:root{

    --verde-claro: #CBFB71;
    --azul-oscuro: #001323;
    --blanco-oscuro: #f2f2f2;
    --blanco-claro: #fff;
    --azul-claro: #2680EB;
    --verde-icono: #00B592;
    --amarillo: #FFBE58;
    --rojo: #E0474E;
    --celeste-claro: #EFF7FF;
}

body{

    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

/* Cabecera */

.header{
    background-color: var(--azul-oscuro);
    height: 115px;
    padding: 0 130px;
    color: var(--blanco-claro);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
   width: 100%;
}

ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
ul{
  list-style: none;
}


nav li ul {
  display: none;
  position: relative;

}

nav li:hover ul {
  display: block;

}



.header a{
    color: var(--blanco-claro);
    text-decoration: none;
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 20px;

}
.menu{
    height: inherit;
}

.header ol{

    display: flex;
    height: inherit;
}

.header ol li{
    height: inherit;
}

.header a:hover{

    color: var(--verde-claro);
}


/* Home */

.home{
    height: 800px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./Assets/img/background.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 300px;
}

.home h1{
    color: var(--blanco-claro);
    margin: 0;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 50px;
}

.home a{
    color: var(--blanco-claro);
    text-decoration: none;
    margin-top: 150px;
    border: solid 2px var(--blanco-claro);
    padding: 0.5em 3em;
    border-radius: 30px;
}

.home a:hover{
    background-color: var(--blanco-claro);
    color: var(--azul-oscuro);
}


/* Cursos */


.clases {
    margin: 200px;
    display: flex;
    justify-content: center;
  }
  
  .botones {
    margin-right: 60px;
    display: inline-block;
    background-color: var(--blanco-oscuro);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .botones:hover {
    background-color: var(--amarillo);
  }
  .botones .boton-cursos figure {
    padding: 10px;
  }
  .botones .boton-cursos p {
    padding-top: 10px;
    font-family: "Roboto", sans-serif;
  }
  .botones a {
    text-decoration: none;
    color: var(--negro);
  }
  
  .botones-mas {
    width: 150px;
  
    display: inline-block;
    background-color: var(--amarillo);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .botones-mas:hover {
    background-color: var(--amarillo);
  }
  .botones-mas .boton-mas figure {
    padding-top: 30px;
  }
  .botones-mas .boton-mas p {
    padding-top: 25px;
    color: var(--blanco-claro);
    font-family: "Roboto", sans-serif;
  }
  .botones-mas a {
    text-decoration: none;
    color: var(--negro);
  }
  
  .logros{
    background-color: var(--celeste-claro);
    text-align: center;
    height: 328px;
    padding-top: 40px;
  }
  
  .logros h1{
    font-size: 45px;
    margin: 0;
  }
  .numeros{
    display: flex;
    justify-content: center;
    margin-top: 45px;
    align-items: center;
  }

  .cursos,
  .estudiantes, 
  .instructores{
    padding-right: 190px;
  }
  .cursos h2{
    color: var(--azul-claro);
    font-size: 40px;
    margin: 0;
  }
  .cursos p,
  .estudiantes p, 
  .instructores p, 
  .leccion p{
    font-size: 15px;
    font-weight: bold;
  }

  .estudiantes h2{
    color: var(--verde-icono);
    font-size: 40px;
    margin: 0
  }
  .instructores h2{
    color: var(--amarillo);
    font-size: 40px;
    margin: 0
  }
  .leccion h2{
    color: var(--rojo);
    font-size: 40px;
    margin: 0
  }


  /* Mentores */

.mentores{
  text-align: center;
  margin-top: 120px;
}
.mentores h1{
  font-size: 45px;
  font-weight: bold;
}

.tarjetas{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tarjetas .tarjeta{
  width: 270px;
  height: 338px;
  margin-right: 138px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.100)),url(./Assets/img/mentor.png);
  background-repeat: no-repeat;
  background-position: center;
  color: var(--blanco-claro);
  border-radius: 10px;

}

.tarjeta-final{
  width: 270px;
  height: 338px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.100)),url(./Assets/img/mentor.png);
  background-repeat: no-repeat;
  background-position: center;
  color: var(--blanco-claro);
  border-radius: 10px;
}

.tarjeta-texto{

  position: relative; 
  top: 270px;
}
.tarjeta-texto h3{

  font-size: 14px;
}

/* Precios */

.precio{
  text-align: center;
  margin-top: 120px;
}
.precio h1{
  font-size: 45px;
  font-weight: bold;
}
.tarjetas-precio{
  display: flex;
  justify-content: center;
  align-content: center;
}

.precio-tarjeta{

  width: 330px;
  height: 300;
  background-color: var(--blanco-oscuro);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 50px;
  border-radius: 10px;
  text-align: center;

}
.precio-tarjeta-final{
  width: 330px;
  height: 300;
  background-color: var(--blanco-oscuro);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: center;
}

.opcion{
  display: flex;
  align-items: center;
  margin: 10px 0 0 20px;
  color: #4F5665;
}
.opcion img{

  width: 10%;
  margin-right: 5px;
}

.boton-select{
  margin: 90px 0 50px;
}
.boton{
  text-decoration: none;
  background-color: none;
  padding: 0.5em 2em;
  color: var(--rojo);
  font-family: inherit;
  font-size: 100%;
  cursor: pointer;
  border-radius: 30px;
  border: 1px solid var(--rojo);
}

.boton:hover{
  background-color: var(--rojo);
  color: var(--blanco-claro);
}

/* footer */


footer{
  height: 160px;
  background-color: var(--azul-oscuro);
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer img{
  
  width: 20%;
}


/* Responsiva */

.contenedor{
  max-width: 1024px;
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

/* Media queris */

@media screen and (max-width: 1023px){

.contenedor{
  margin: 0 15px;
}

.botones{
  margin-right: 15px;
}

.cursos,
.estudiantes,
.instructores{
  padding-right: 50px;
}

.tarjetas .tarjeta{
  margin-right: 50px;
  width: 200px;
}
.tarjetas .tarjeta-final{
  width: 200px;
}

.precio-tarjeta{
  width: 250px;
  margin-right: 10px;
}
.precio-tarjeta-final{
  width: 250px;
}

}

@media screen and (max-width: 850px){

  .header{
    display: block;
    padding-top: 15px;
  }
  .logo img{
    width: 200px;
  }
  .logo{
    display: flex;
    justify-content: center;
  }

  .menu{
    height: 50px;
    display: flex;
    justify-content: center;
  }

  .botones{
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
  }
  .botones-mas{
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
  }
  .boton-cursos figure,
  .boton-mas figure,
  .boton-cursos p,
  .botones-mas p{
    margin: 0;
  }
}

@media screen and (max-width: 670px){

  .clases{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .botones{
    width: 200px;
    height: 200px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }
  .botones-mas{
    width: 200px;
    height: 200px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .boton-cursos figure,
  .boton-mas figure,
  .boton-cursos p,
  .boton-mas p{
    margin: 0;
  }

  .mentores{
    margin-top: 0;
  }
  .mentores h1{
    margin: 0 0 35px;
  }
  .tarjetas{
    display: flex;
    flex-direction: column;
  }
  .tarjetas .tarjeta{
    margin: 15px 0 0 0;
    width: 250px;
  }
  .tarjetas .tarjeta-final{
    margin-top: 15px;
    width: 250px;
  }
  .tarjetas-precio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .precio-tarjeta{
    margin-right: 0;
    margin-top: 15px;
  }
  .precio-tarjeta-final{
    margin-top: 15px;
  }
  .cursos,
  .estudiantes,
  .instructores{
    padding-right: 20px;
  }

}  

@media screen and (max-width: 425px){
  .logros{
    height: auto;
    margin: 20px 0;
  }
  .numeros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cursos,
  .estudiantes,
  .instructores{
    padding-right: 0;

  }
  .leccion{
    margin-bottom: 25px;
  }
  footer img{
    width: 200px;
  }
  .logo img{
    padding-left: 15px;
  }

}

@media screen and (max-width: 380px) {

  .header a{
    padding: 0 10px;
  }

}

@media screen and (max-width: 300px){
  .header a{
    padding: 0 5px;
  }
}