:root{

    --verde-claro: #CBFB71;
    --azul-oscuro: #001323;
    --blanco-oscuro: #f2f2f2;
    --blanco-claro: #fff;
    --azul-claro: #2680EB;
    --verde-icono: #00B592;
    --amarillo: #FFBE58;
    --rojo: #E0474E;

}

body{

    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

/* Cabecera */

.header{
    background-color: var(--azul-oscuro);
    height: 115px;
    padding: 0 130px;
    color: var(--blanco-claro);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
   width: 100%;
}

ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

.header a{
    color: var(--blanco-claro);
    text-decoration: none;
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 20px;

}
.menu{
    height: inherit;
}

.header ol{

    display: flex;
    height: inherit;
}

.header ol li{
    height: inherit;
}

.header a:hover{

    color: var(--verde-claro);
}


/* Home */

.home{
    height: 800px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./Assets/img/background.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 300px;
}

.home h1{
    color: var(--blanco-claro);
    margin: 0;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 50px;
}

.home a{
    color: var(--blanco-claro);
    text-decoration: none;
    margin-top: 150px;
    border: solid 2px var(--blanco-claro);
    padding: 0.5em 3em;
    border-radius: 30px;
}

.home a:hover{
    background-color: var(--blanco-claro);
    color: var(--azul-oscuro);
}


/* Cursos */


.clases {
    margin: 200px;
    display: flex;
    justify-content: center;
  }
  
  .botones {
    margin-right: 60px;
    display: inline-block;
    background-color: var(--blanco-oscuro);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .botones:hover {
    background-color: var(--amarillo);
  }
  .botones .boton figure {
    padding: 10px;
  }
  .botones .boton p {
    padding-top: 10px;
    font-family: "Roboto", sans-serif;
  }
  .botones a {
    text-decoration: none;
    color: var(--negro);
  }
  
  .botones-mas {
    width: 150px;
  
    display: inline-block;
    background-color: var(--amarillo);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .botones-mas:hover {
    background-color: var(--amarillo);
  }
  .botones-mas .boton-mas figure {
    padding-top: 30px;
  }
  .botones-mas .boton-mas p {
    padding-top: 25px;
    color: var(--blanco-claro);
    font-family: "Roboto", sans-serif;
  }
  .botones-mas a {
    text-decoration: none;
    color: var(--negro);
  }
  